### [Series 연산 - 3]
 - 원소값이 비어있는 경우
 - 인덱스가 서로 다른 Series의 경우

In [2]:
# 
import pandas as pd
import math
import numpy as np

In [3]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 => pandas에 없음
# math와 numpy 활용해 사용
math.nan, np.NaN

(nan, nan)

In [4]:
bibibig = [13, 600, np.NaN, 1500]
merona = [32, 700, 1200, 1500]

In [5]:
# [3]
sr1 = pd.Series(bibibig)
sr2 = pd.Series(merona, dtype='int16')

In [6]:
print(sr1, sr2, sep="\n")

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64
0      32
1     700
2    1200
3    1500
dtype: int16

In [7]:
# [4-1] 연산수행 : Series + 숫자
sr1 + 5

# print("sr1+sr2\n", sr1 + sr2, "\n\n")
# print("sr1-sr2\n", sr1 - sr2, "\n\n")
# print("sr1<sr2\n", sr1 <= sr2, "\n\n")
# print("sr1>sr2\n", sr1 >= sr2, "\n\n")

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [8]:
sr1 >= 5

0     True
1     True
2    False
3     True
dtype: bool

In [9]:
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [10]:
print("sr1,sr2\n", sr1, sr2, "\n\n")

sr1,sr2
 0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64 0      32
1     700
2    1200
3    1500
dtype: int16

In [11]:
# [5] 인덱스가 다른 시리즈끼리 연산
 # - sr3 생성 : sr2에서 변경 [0,1,2,3= ]]> [0,2,3,4]
# sr2.index=[0,2,3,4]
sr3 = sr2.rename(index={1:2,2:3,3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int16

In [12]:
sr2 + sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [13]:
# sr2 > sr3
# 비교연산 에러 발생

In [14]:
sr3 = sr3.reset_index(drop = True)

In [15]:
sr2 > sr3

0    False
1    False
2    False
3    False
dtype: bool

In [16]:
# [5] NaN에 대한 연산 수행을 못하는 것 해결을 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN에 값을 지정
sr1.add(sr2, fill_value=-1.)

0      45.0
1    1300.0
2    1199.0
3    3000.0
dtype: float64

In [17]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3 = sr2.rename(index={1:2,2:3,3:4})

In [18]:
sr2.add(sr3, fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64