In [179]:
import pandas as pd

In [180]:
# (1 - 01)
ice = {'가격':[300,400,250], '재고':[20,3,100]}

iceDF = pd.DataFrame(ice, index=('메로나','비비빅','죠스바'))

In [181]:
# (1-02)
print(iceDF)
print()

      가격   재고
메로나  300   20
비비빅  400    3
죠스바  250  100

In [182]:
# (1-03)
iceDF.loc[:]['가격']

메로나    300
비비빅    400
죠스바    250
Name: 가격, dtype: int64

In [183]:
# (1-04)이름 재고
iceDF.loc[:]['재고']

메로나     20
비비빅      3
죠스바    100
Name: 재고, dtype: int64

In [184]:
# (1-05) 비비빅 가격 재고 
iceDF.loc['비비빅']['가격']

400

In [185]:
# (1-06) 메로나, 죠스바 가격, 재고 
iceDF.loc[['메로나','죠스바']][['가격','재고']]

      가격   재고
메로나  300   20
죠스바  250  100

In [186]:
# (1-07) 행 인덱스 일 이 삼으로 변경
iceDF.index=["일",'이','삼']
iceDF

    가격   재고
일  300   20
이  400    3
삼  250  100

In [187]:
# (1-08) 총 가격 칼럼 추가 후 값 0으로
iceDF['총 가격'] = 0
iceDF

    가격   재고  총 가격
일  300   20     0
이  400    3     0
삼  250  100     0

In [188]:
# (1-09) '빵빠레' 550원 10개 추가
iceDF.index=['메로나','비비빅','죠스바']
iceDF.loc['빵빠레']=[550,10,0]
iceDF

      가격   재고  총 가격
메로나  300   20     0
비비빅  400    3     0
죠스바  250  100     0
빵빠레  550   10     0

In [196]:
# (1-10) 비비빅 재고 23 변경

iceDF.loc['비비빅','재고'] = 23
iceDF
# iceDF

      가격   재고  총 가격
메로나  300   20     0
비비빅  400   23     0
죠스바  250  100     0
빵빠레  550   10     0

# 2번

In [190]:
data = [ [ 2000, 3050, 2050, 1980], [ 7500, 2050, 2050, 1980], [15450, 15050, 15550, 14900]]
dataDF = pd.DataFrame(data, columns = ['시가','고가','저가','종가'])
dataDF
# (2-01) 데이터를 저장해

      시가     고가     저가     종가
0   2000   3050   2050   1980
1   7500   2050   2050   1980
2  15450  15050  15550  14900

In [191]:
# (2-02) 데이터 주요 속성 6가지 출력

In [192]:
#(2-03) 행 인덱스를 2024-01-01, 2024-02-01, 2024-03-01 데이터로 변경해 주세요.

dataDF.index=['2024-01-01','2024-02-01', '2024-03-01']
dataDF

               시가     고가     저가     종가
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900

In [193]:
# 2-04) 행 인덱스를 Open/High/Low/Close로 변경해 주세요. 
dataDF.columns=['Open','High','Low','Close']
dataDF

             Open   High    Low  Close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900

In [194]:
# (2-05) 2024-02-01의 High, Close 데이터를 추출 하세요. 
dataDF.loc['2024-02-01'][['High','Close']]

High     2050
Close    1980
Name: 2024-02-01, dtype: int64

In [199]:
# (2-06) 2024-04-01의 3200, 3550, 3000, 2990 데이터를 추가해 주세요. 
dataDF.loc['2024-04-01']=[3200,3550, 3000,2990]
dataDF

             Open   High    Low  Close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900
2024-04-01   3200   3550   3000   2990

In [200]:
# (2-07) 2024-01-01 데이터를 삭제해 주세요. 
dataDF.drop('2024-01-01')

             Open   High    Low  Close
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  15550  14900
2024-04-01   3200   3550   3000   2990

In [201]:
# (2-08) 2024-03-01의 Low값을 14000으로 변경해 주세요.
dataDF.loc['2024-03-01']['Low'] = 14000
dataDF

C:\Users\kjy19\AppData\Local\Temp\ipykernel_23376\161546719.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataDF.loc['2024-03-01']['Low'] = 14000

             Open   High    Low  Close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  14000  14900
2024-04-01   3200   3550   3000   2990

In [ ]:
# (2-09) Average 컬럼을 추가 후 0으로 값을 채워 주세요. 
dataDF['Average']=0
dataDF

             Open   High    Low  Close  Average
2024-01-01   2000   3050   2050   1980        0
2024-02-01   7500   2050   2050   1980        0
2024-03-01  15450  15050  14000  14900        0

In [203]:
# (2-10) Total행을 추가 후 0으로 값을 채워 주세요.
dataDF.loc['Total']=0
dataDF

             Open   High    Low  Close
2024-01-01   2000   3050   2050   1980
2024-02-01   7500   2050   2050   1980
2024-03-01  15450  15050  14000  14900
2024-04-01   3200   3550   3000   2990
Total           0      0      0      0

3. 아래 단답형 문제에 답해주세요.
 (3-01) 판다스는 (데이터)를 분석하기 위한 패키지입니다.
 (3-02) 판다스에서는 다양한 종류의 데이터를 (데이터프레임)형태로 저장합니다. -> 
 (3-03) 판다스에서는 1차원 데이터를 저장하는 자료구조를 (Series)라고 합니다. 
 (3-04) 판다스에서는 2차원 데이터를 저장하는 자료구조를 (DataFrame)라고 합니다. 
 (3-05) 판다스는 내부적으로 데이터를 (array)형태로 저장합니다. 
 (3-06) 판다스에서는 1개 열/column 추출 시 자료구조는 (Series)입니다. 
 (3-07) 판다스에서는 1개 행/row 추출 시 자료구조는 (Series)입니다. 
 (3-08) 판다스에서는 2개 이상 열/column 또는 행/row 추출 시 자료구조는 (DataFrame)입니다.