In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib


file = r'C:\Git\KDT\BigData\EX_PY07\0726\daegu-utf8.csv'
weatherDF = pd.read_csv(file)

In [23]:
# 문자열 형태의 날짜 데이터 -> Datetime으로 변경
weatherDF['날짜'] = pd.to_datetime(weatherDF['날짜'], format='%Y-%m-%d')

In [24]:
# weatherDF

# for i in weatherDF.head(10):
#         print(i)

In [25]:
weatherDF['날짜'].dt.year >= 2000

0        False
1        False
2        False
3        False
4        False
         ...
42882     True
42883     True
42884     True
42885     True
42886    False
Name: 날짜, Length: 42887, dtype: bool

In [26]:
first = 2000
second = 2024
decadeDF = weatherDF[(weatherDF['날짜'].dt.year >= first)& (weatherDF['날짜'].dt.year <= second)]
decadeDF

              날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
33938 2000-01-01  143.0      4.7      0.0      8.5
33939 2000-01-02  143.0      6.5      3.1     11.5
33940 2000-01-03  143.0      2.9      0.0      6.8
33941 2000-01-04  143.0      2.3     -2.4      7.5
33942 2000-01-05  143.0      4.9     -0.9      9.4
...          ...    ...      ...      ...      ...
42881 2024-06-26  143.0     24.8     19.6     30.8
42882 2024-06-27  143.0     22.0     18.1     26.2
42883 2024-06-28  143.0     26.0     18.2     34.1
42884 2024-06-29  143.0     24.5     22.0     29.8
42885 2024-06-30  143.0     26.2     23.6     31.0

[8948 rows x 5 columns]

In [29]:
de_monDF = decadeDF[decadeDF['날짜'].dt.month == 8]
de_monDF

              날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
34151 2000-08-01  143.0     25.4     21.3     30.9
34152 2000-08-02  143.0     23.7     21.3     26.6
34153 2000-08-03  143.0     24.1     22.6     26.6
34154 2000-08-04  143.0     23.4     22.0     25.5
34155 2000-08-05  143.0     27.4     22.8     32.1
...          ...    ...      ...      ...      ...
42577 2023-08-27  143.0     25.5     22.3     30.9
42578 2023-08-28  143.0     25.5     23.0     27.9
42579 2023-08-29  143.0     25.7     23.2     28.0
42580 2023-08-30  143.0     24.7     22.3     25.9
42581 2023-08-31  143.0     23.3     21.2     25.7

[744 rows x 5 columns]

In [31]:
a = weatherDF[weatherDF['날짜'].dt.year==2000]['최저기온(℃)'].mean()
a = round(a,1)
a

np.float64(10.1)

In [32]:
weatherDF[weatherDF['날짜'].dt.year==2014]['최저기온(℃)'].mean()

np.float64(10.493972602739726)