PPT 파일에 예제 직접 다 해보기!!!

$ y = ax + b $  
-> $$ 사이에 수식 넣으면 왼쪽 정렬
$$ y = ax + b $$
                                                    -> $$ $$ 사이에 수식 넣으면 오른쪽 정렬

1. 시리즈 : 서로 다른 종류의 데이터를 1차원 배열에 저장하는 구조화 데이터
    - 형식 : index + Data(Value) => 키와 값으로 구성된 딕셔너리와 비슷하다.
2. 데이터프레임 : 서로 다른 종류의 데이터를 2차원 배열에 저장하는 구조화 데이터

In [1]:
import pandas as pd

dict_data = {'a':1,'b':2,'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print("\n")

print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [3]:
# 리스트 => 시리즈
import pandas as pd

list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)
print("\n")

idx = sr.index
val = sr.values

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [10]:
import pandas as pd
tup_data = ('영인','2010-05-01','여',True)
sr = pd.Series(tup_data, index = ['이름','생년월일','성별','학생여부'])
# 인덱스... 행?을 따로 지정해줌. 그 값에 대한 자료도 같이 해야 명확한 자료니까.
print(sr)
print("\n")

print(sr[0])
print(sr["이름"])
# 그래도 인덱스가 0번째임은 여전하니 인덱스 0으로 부르던 "이름"으로 부르던 같은 영인이라는 값이 나온다.

print("\n\n\n")
print("다음 예제")
print(f"sr[[1,2]] =\n {sr[[1,2]]}")
print("\n")
print(f"sr[['생년월일','성별']] =\n {sr[['생년월일','성별']]}")
print("\n")

print(f"sr[1:2] =\n {sr[1:2]}")
print("\n")
print(f'sr["생년월일":"성별"] =\n {sr["생년월일":"성별"]}')

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object


영인
영인




다음 예제
sr[[1,2]] =
 생년월일    2010-05-01
성별               여
dtype: object


sr[['생년월일','성별']] =
 생년월일    2010-05-01
성별               여
dtype: object


sr[1:2] =
 생년월일    2010-05-01
dtype: object


sr["생년월일":"성별"] =
 생년월일    2010-05-01
성별               여
dtype: object

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\719652728.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])
C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\719652728.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"sr[[1,2]] =\n {sr[[1,2]]}")

## 데이터프레임 (~57p)

In [11]:
import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# dict => DF변환
df = pd.DataFrame(dict_data)

print(type(df))
print("\n")
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [13]:
import pandas as pd

df = pd.DataFrame([ [15,'남','덕영중'], [17,'여','수리중']], index = ['준서','예은'], columns=['나이', '성별', '학교'])
# 데이터 프레임 한줄씩 나이 / 성별 / 학교 값 먼저 입력해주고 // 그 다음에 행에 그 정보값의 주인들, 이후에 그 값의 성격을 열로 지정

print("df =================================\n", df)

print("df.index => ", df.index)
print("df.column => ", df.columns)


print("\n\n예제 이어가기")
df.index=["학생1",'학생2']
df.columns=['연령','남녀','소속']
# 정보는 그대로 하고 열,행 값 변경. 그대로 덮어씌우기
print(df)
print("\n")
print(df.index)
print("\n")
print(df.columns)

df =================================
     나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
df.index =>  Index(['준서', '예은'], dtype='object')
df.column =>  Index(['나이', '성별', '학교'], dtype='object')


예제 이어가기
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [16]:
import pandas as pd

df = pd.DataFrame([ [15,'남','덕영중'], [17,'여','수리중']], index = ['준서','예은'], columns=['나이', '성별', '학교'])

df2 = df.rename(columns={"나이":"연령", "성별":"남녀", "학교":"소속"})
df3 = df.rename(index={"준서":"학생1", "예은":"학생2"}, inplace=True)

print(f"df ======= \n{df3}\n{df}")
print(f"df2 ======= \n {df2}")

df =======
None
     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중
df2 =======
     연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

##### 행 삭제

In [20]:
import pandas as pd

exam_data = {'수학':[90,80,70], '영어':[98,89,95], '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')
# drop은 데이터에 변화를 주지 않고 drop이 실행된 복사본을 제공한다.



df2 = df[:]
df2.drop('우현', inplace=True)

print(df2)
print('\n')

df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)    # 원래 axis 기본값 0, 0은 오른쪽, 1은 위아래 방향 ...
# 근데 0, 기본값이니까 우현, 인하에 대한 것 삭제
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\1217529581.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)
C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\1217529581.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace=True)    # 원래 axis 기본값 0, 0은 오른쪽, 1은 위아래 방향 ...

In [21]:
import pandas as pd

exam_data = {'수학':[90,80,70], '영어':[98,89,95], '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

df4 = df[:]
df4.drop('수학', axis=1, inplace=True)  # 열 삭제, 세로 방향
print(df4)
print('\n')

df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\2875092980.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학', axis=1, inplace=True)  # 열 삭제, 세로 방향
C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\2875092980.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어', '음악'], axis=1, inplace=True)

##### 선택 출력

In [23]:
import pandas as pd

exam_data = {'수학':[90,80,70], '영어':[98,89,95], '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print("df ============\n", df )
print("\n")

label1 = df.loc["서준"] # loc니까 지정인덱스
position1 = df.iloc[0] # iloc니까 숫자인덱스 결과는 같다.
print("label1 => \n", label1)
print('\n')
print("position1 => \n", position1)
print('\n')

df ============
     수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


label1 =>
 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


position1 =>
 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [29]:
import pandas as pd
exam_data = {'수학':[90,80,70], '영어':[98,89,95], '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data, index=["서준", "우현", "인아"])


label2 = df.loc[["서준", "우현"]]   # 리스트 그 자체를 []로 묶어 하나의 인덱스 취급
position2 = df.iloc[[0,1]]
print(f"label2 => {label2}")
print('\n')
print(f"position2 => {position2}")
print('\n')



label3 = df.loc["서준":"우현"]      # : 를 , 로 잘못쳤었더니 계속 오류 떴었음. 슬라이싱이 아니라 리스트 식이면 [] 넣기 기억.
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

label2 =>     수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


position2 =>     수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [31]:
import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

print(df)
print(type(df))
print('\n')

math1 = df['수학']      # 수학 열만 뽑아옴
print(math1)
print(type(math1))
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [33]:
import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)


english = df.영어       # 아까는 df['수학'] 로 표현햇는데 얘도 되네
print('영어 점수만 뽑아보기')
print(english)
print(type(english))

music_gym = df[['음악', '체육']]    # 리스트 인덱스 #
print(music_gym)
print(type(music_gym))

math2 = df[['수학']]    # df.영어는 열 상세가 안나오는데 df[["수학"]]은 수학이라고 나온다.
print(math2)
print(type(math2))

영어 점수만 뽑아보기
0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>
   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [37]:
import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index('이름', inplace=True)
print(df)

print(f'a, loc[서준음악] 결과')
a = df.loc['서준', '음악']
print(a)

print(f'\nb, iloc[0,2] 결과')
b = df.iloc[0, 2]
print(b)

print(f'\nc, loc[서준, [음악,체육] 결과')
c = df.loc['서준', ['음악', '체육']]
print(c)

print(f'\nd, iloc[0 [2,3]] 결과')
d = df.iloc[0, [2, 3]]
print(d)

print(f'\ne, loc[서준, [음악:체육] 결과')
e = df.loc['서준', '음악':'체육']
print(e)
# 아니 왤케 많으세요

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
a, loc[서준음악] 결과
85

b, iloc[0,2] 결과
85

c, loc[서준, [음악,체육] 결과
음악     85
체육    100
Name: 서준, dtype: int64

d, iloc[0 [2,3]] 결과
음악     85
체육    100
Name: 서준, dtype: int64

e, loc[서준, [음악:체육] 결과
음악     85
체육    100
Name: 서준, dtype: int64

In [62]:
import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index('이름', inplace=True)
print(df)
# 얘 없으면 g에서  "None of [Index(['서준', '우현'], dtype='object')] are in the [index]" 에러 발생.


print(f'\nf, iloc[0, 2:] 결과')
f = df.iloc[0, 2:]
print(f )
print('\n')

print(f"\ng, loc['서준', '우현'], ['음악', '체육']] 결과")
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)

print(f'\nh, iloc[0, 1], [2, 3] 결과')
h = df.iloc[[0, 1], [2, 3]]
print(h)

print(f"\ni, loc['서준' : '우현'], ['음악' : '체육']] 결과")
i = df.loc['서준':'우현', '음악':'체육']
print(i)

print(f'\nj, iloc[0:2, 2:] 결과')
j = df.iloc[0:2, 2:]
print( j)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

f, iloc[0, 2:] 결과
음악     85
체육    100
Name: 서준, dtype: int64



g, loc['서준', '우현'], ['음악', '체육']] 결과
    음악   체육
이름
서준  85  100
우현  95   90

h, iloc[0, 1], [2, 3] 결과
    음악   체육
이름
서준  85  100
우현  95   90

i, loc['서준' : '우현'], ['음악' : '체육']] 결과
    음악   체육
이름
서준  85  100
우현  95   90

j, iloc[0:2, 2:] 결과
    음악   체육
이름
서준  85  100
우현  95   90

In [44]:
import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

df['국어'] = 80 # 밀려서 체육이랑 헷갈리기는 하는데 국어 서준 우현 인아 모두 80으로 고정 디폴트 값 되어버림.
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [49]:
import pandas as pd
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)

print(df)
print('\n')

df.loc[3] = 0   # 새로운 행 [3(,0)생략?인가] 추가. 그 행 값은 모두 0
print(df)

# self, not 예제
df.loc[4,5] = 0
print(df)   # ..?

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
    이름    수학    영어     음악     체육    5
0   서준  90.0  98.0   85.0  100.0  NaN
1   우현  80.0  89.0   95.0   90.0  NaN
2   인아  70.0  95.0  100.0   90.0  NaN
3    0   0.0   0.0    0.0    0.0  NaN
4  NaN   NaN   NaN    NaN    NaN  0.0

In [55]:

import pandas as pd
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)

df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

df.loc['행5'] = df.loc[4]       # 예제는 df.loc[3]이었는데 오류 발생.
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
4   동규  90  80   70   60
행5  동규  90  80   70   60

In [57]:
import pandas as pd
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index('이름', inplace=True)
print(df)
print()
df.iloc[0][3] = 80  # 서준의 체육 점수 수정
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\122179216.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][3] = 80
C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\122179216.py:12: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3] = 80

In [61]:
"""
'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
"""

df.loc['서준']['체육'] = 90
print(f"['서준']['체육'] = 90 (기존점수 : 100) ")
print(df)
print()

print(f"loc['서준', '체육'] = 100 // 복구")
df.loc['서준', '체육'] = 100
print(df)
print()

df.loc['서준', ['음악', '체육']] = 50   # 둘다 50점으로
print(f"loc['서준', ['음악', '체육']] = 50 (기존 서준의 점수 : 85, 100)")
print(df)
print()

print(f"loc['서준', ['음악', '체육']] = 100, 50 // 50에서 복구")
df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

['서준']['체육'] = 90 (기존점수 : 100)
    수학  영어   음악  체육
이름
서준  90  98  100  90
우현  80  89   95  90
인아  70  95  100  90

loc['서준', '체육'] = 100 // 복구
    수학  영어   음악   체육
이름
서준  90  98  100  100
우현  80  89   95   90
인아  70  95  100   90

loc['서준', ['음악', '체육']] = 50 (기존 서준의 점수 : 85, 100)
    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

loc['서준', ['음악', '체육']] = 100, 50 // 50에서 복구
    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6264\1883855147.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc['서준']['체육'] = 90

In [ ]:
import pandas as pd
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

df = df.transpose() # 행열 위치 바꾸기 메서드
print(df)

df = df.T       # 얘도 트렌스포즈 쟤랑 같음.
print(df)

# PPT 83 나중ㅇ ㅔ다시 하기