### DataFreame아ㅓㅓㄴㄱ소 . 요ㅛ소 ㅣㅇㄺ기
 - 해 ㅇ 읽기 ㅈ열 일기
 행과 열이 ㅣ농세 ㅛ하ㅣ ㅇ늫으 아 교차하는 지점 원소 / dyth dlfrrl

In [1]:
# 데이터 모듈
import pandas as pd

In [7]:
# 데이터 준비
jumsu =[[49,59,29],[67, 81, 80]]

In [8]:
df1 = pd.DataFrame(jumsu)

In [ ]:
# 행 인덱스와 열 인덱스 속서ㅏㅇ으로 지정
# 행 인덱스 => 김경ㅋㅐ 안효준
# ㅇ녈 인ㄷ게스 => 음악, 영어, 무용

In [10]:


df1.index = ["김경태", "안효준"]
df1.columns = ["음악", "영어", "무용"]
df1

     음악  영어  무용
김경태  49  59  29
안효준  67  81  80

-[열/컬럼 선택] : 변수명/컬럼인덱스

In [13]:
# 영어 과목 점수만 추출
print(df1['영어'], type(df1['영어'], sep="\n\n"))

TypeError: type() takes 1 or 3 arguments

In [15]:
# 무용 과목 점수만 추출
print(df1['무용'])
df1.무용

김경태    29
안효준    80
Name: 무용, dtype: int64

김경태    29
안효준    80
Name: 무용, dtype: int64

- [행/로우 선택] : 변수명.iloc[행인덱스]. 변수명.iloc[행인덱스]

In [16]:
# 변수명.iloc[정수인덱스] : 정수 인덱스만 가능함!!!!
df1.iloc[0]

# iloc는 정수만 .. 가ㅡㄴㅇ

음악    49
영어    59
무용    29
Name: 김경태, dtype: int64

In [17]:
# 변수명.loc[행인덱스]
df1.loc['김경태']

음악    49
영어    59
무용    29
Name: 김경태, dtype: int64

In [18]:
# 무용 과목 점수만 추출
df1.무용

김경태    29
안효준    80
Name: 무용, dtype: int64

In [21]:
# 음악, 뮤용 컬럼 추출
df1[["음악", "무용"]]

     음악  무용
김경태  49  29
안효준  67  80

In [24]:
df1["음악":"무용"]  # Error

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [26]:
print(df1.columns, df1.columns[1:], df1.columns[::2], sep ="\n")
df1[df1[columns]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

In [27]:
# 변수명.loc[행인덱스]
df1.loc[["안효준","김경태"]]

     음악  영어  무용
안효준  67  81  80
김경태  49  59  29

In [28]:
# 여러 개 행 추출
print(df1.index, df1.index[1:], df1.index[::-1], sep = "\n")

df1.loc[df1.index[::-1]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어  무용
안효준  67  81  80
김경태  49  59  29

- [원소/요소 추출]
변수명.iloc[정수인덱스][열인덱스] / 변수명.loc[행인덱스][열인덱스]

In [33]:
# 김경태 님의 영어 점수만 추출
# df1["김경태"]["영어"] <== Key 에러
df1.loc["김경태"]["영어"], df1.iloc[0]["영어"]
df1.

(59, 59)

In [34]:
df1.loc["김경태"]["영어"], df1.iloc[0]["영어"], #df1.iloc[0][1]

C:\Users\kjy19\AppData\Local\Temp\ipykernel_7192\3001372194.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.loc["김경태"]["영어"], df1.iloc[0]["영어"], df1.iloc[0][1]

(59, 59, 59)

[원소 / 요소 추출]
 - 변수명.iloc[정수인덱스, 열 인덱스] / 변수명.loc[행인덱스,열인덱스]

In [38]:
# 김경태님의 영어 점수만 출력
df1.iloc[0,1], df1.loc["김경태","영어"]
## ==> iloc[정수인덱스, 정수인덱스]  : df1.iloc[0,"영어"] Error

(59, 59)

In [ ]:
df1.loc["김경태", "영어"]

In [52]:
## [문] 김경태님의 영어, 무용 점수 추출
df1.loc["김경태", ["무용","영어"]]
df1.loc["김경태"][["영어","무용"]]
df1.loc["김경태","음악":"무용":2]
df1.iloc[0][1:]

# 3개 결과가 다 동일

무용    29
영어    59
Name: 김경태, dtype: int64

In [51]:
df1.loc["김경태",:] # 이건 다 나옴

음악    49
영어    59
무용    29
Name: 김경태, dtype: int64

In [54]:
df1.loc[:,"음악"]
df1.loc[df1.index, "음악"]

김경태    49
안효준    67
Name: 음악, dtype: int64