In [8]:
import pandas as pd


# 데이터 준비
data = {"name" : ["홍길동","마징가","원더우먼"],
        "job" : ["의적", "로봇", "영웅"],
        "gender" : ["남","남","여"],
        "age" : [100, 200, 300],
        "height" : [180,200,300]}
dataDF = pd.DataFrame(data)
dataDF

   name job gender  age  height
0   홍길동  의적      남  100     180
1   마징가  로봇      남  200     200
2  원더우먼  영웅      여  300     300

# [실습]행 추가 : 변수명.loc["추가할 행 이름"] = 데이터 ""

In [9]:
# 1개 해 추가 => data 수를 1걇 
# 1개 행 추가# 
dataDF.loc[3]=["베트맨", "박쥐", "남", 40 190]

SyntaxError: invalid syntax (3247410448.py, line 3)

In [11]:
## 1개 행 추가
# 1개 열 추가
dataDF 
dataDF.loc(4) = ["배트맨", "박쥐", "냄새", "키 "]

SyntaxError: invalid syntax (1797739182.py, line 3)

In [7]:
dataDF.loc[6] = ["스파이더맨", "거미"]
dataD

ValueError: cannot set a row with mismatched columns

## 1개 행 추가 : 변수명 loc["추가할 챙이름"] : 데이터
    - 변경한.iloc[]
    - 데이터수 == 칼럼수 경우, 행 추가 가능
    - 데이터 정수 == 1개 경우, 행 추가 가ㅡㄴ
    - 그 외의 경우, 행추가 pygame.cursors.load_xbm(cursorfile, maskfile)

## 1개 열 추가 : 변수명 loc["추가할 열 리즘"] : 데이터
    - 데이터 수 == 항상 양 ㅂㄴ수일때 
    - 데이터수 == 행 수 경우, 열 추가 가능
    - 데이터 정수 == 1개 경우, 행 얼추 추가 가ㅡㄴㅇ
    - 그 외의 경우, 행추가 pygame.cursors.load_xbm(cursorfile, maskfile)

In [13]:
dataDF['weight'] = 100
dataDF

   name job gender  age  height  weight
0   홍길동  의적      남  100     180     100
1   마징가  로봇      남  200     200     100
2  원더우먼  영웅      여  300     300     100