In [38]:
import pandas as pd

In [39]:
file1 = 'test_data3.csv'

In [40]:
# [3] CVS
df1 = pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    11    23

In [41]:
# [4] 데이터 추출
# [4-1] 대구 관련 데이터만 추출
df1[df1['col1'] == "대구"]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    11    23

In [42]:
# [4-2] index와 col1칼럼을 행 인덱스 설정
df2 = df1.set_index(['index','col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      11    23

In [43]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [11, 23]], dtype=int64))

In [44]:
# 2020년도 대구 데이터 추출 / 값 변경
df2.loc[(2020,'대구')] = [9,9]
df2

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\4127175673.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'대구')] = [9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      11    23

In [45]:
# 2021년도 대구 데이터 추출
df2.loc[(2021,'대구')] = [3,3]
df2

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\139358392.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021,'대구')] = [3,3]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구       3     3
      대구       3     3

In [51]:
# 행 추가 => (년도, 지역명)
# df2.loc[(2022,'부산')] = 0          # [(행,열)]로 인식해서 NaN값 투성이인 새로운 행, 열을 넣어버린다.
df2.loc[(2022,'부산'), : ] = 0      # [(행1,행2), 열 ] -> [(2022,부산), : << 열 전체]

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\3438592635.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'부산'), : ] = 0      # [(행1,행2), 열 ] -> [(2022,부산), : << 열 전체]

In [52]:
df2.loc[(2022,'마산'), : ] = [3,4]

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\857541995.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'), : ] = [3,4]
C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\857541995.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'), : ] = [3,4]

In [56]:
df2.loc[(2020,'울산'), :] = pd.Series({'col2':8, 'col3': 8})

# 시리즈는 이터러블이 아니다. for문 돌려서 원소값 행에 넣어주려고 했는데, 시리즈 형이라서 불가능!!!!
# 2020 울산은 들어갓는데 값이 안 들어감.

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\3787010822.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'울산'), :] = pd.Series({'col2':8, 'col3': 8})

ValueError: Must have equal len keys and value when setting with an iterable

In [59]:
df2.loc[(2020,'경산'), :] = [pd.Series({'col2':8, 'col3': 8})]

# 시리즈 자체를 리스트 형식으로 하면 이터러블이 되니까? 값이 들어간다.

C:\Users\kjy19\AppData\Local\Temp\ipykernel_13396\2993434282.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'경산'), :] = [pd.Series({'col2':8, 'col3': 8})]

In [58]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
2020  울산     NaN   NaN
      경산     8.0   8.0

In [61]:
# [4-3] index 와 col1 칼럼을 행 인덱스 설정
df3 = df1.set_index(['index', 'col1','col2'])