##### [멀티인덱스]
 - 2개 이상의 행과 열로 구성된 인덱스

In [53]:
import pandas as pd
import df_util as util

In [54]:
file1 = 'test_data.csv'
file2 = 'test_data2.csv'

In [55]:
# [3] CSV ==> DataFrame으로 저장
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [56]:
# [4] 데이터 확인 => 기본정보
util.checkDataFrame(df1, 'df1')
util.checkDataFrame(df2, 'df2')

## df_util에서 관련 함수 생성 후 내용 삭제
# df1.info()
# print(f'[Index] : {df1.index}')
# print(f'[Columns] : {df1.Columns}')

# df2.info()
# print(f'[Index] : {df2.index}')
# print(f'[Columns] : {df2.Columns}')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[Index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

In [57]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫번째 칼럼을 행 인덱스로 설정 ==> set_index([])
df11 = df1.set_index('index') 
# df11.index  
# 출력 결과 : Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object', name='index')
df11.index.name = None
df11.index
# 출력 결과 : Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')
# name이 사라진다. 아예 값이 없는 None이니까

# 아래 뽑기용 // 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [58]:
## 강사님은 삭제함.
# [5] 행 인덱스 설정 
# [5-1] df1의 첫번째 칼럼을 행 인덱스로 설정 ==> set_index([])
df11 = df1.set_index(['index', 'col1', 'col2'])     # 멀티인덱스 위에서 인덱스 설정 바꼇는데 바뀜.
df11.index.name = None
df11.index

MultiIndex([('A', 8, 6),
            ('C', 8, 4),
            ('C', 8, 2),
            ('A', 1, 8),
            ('B', 2, 0),
            ('B', 4, 2),
            ('C', 8, 8),
            ('C', 5, 5),
            ('B', 3, 3),
            ('A', 3, 1)],
           names=['index', 'col1', 'col2'])

##### 비교해보기

In [59]:
# [5] 행 인덱스 설정
# [5-2] df1의 첫번째, 두번째 칼럼을 행 인덱스로 설정 => set_index([칼럼1, 칼럼2]) 
# df1의 첫번째 칼럼을 행 인덱스로 설정 ==> set_index([])
df12 = df1.set_index(['index', 'col1']) 
df12.index.name = None
print(df12.index)

# ('A',8) 행 추출
df12.loc[('A',8)]

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['index', 'col1'])

C:\Users\kjy19\AppData\Local\Temp\ipykernel_20840\2867386128.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A',8)]

            col2  col3
index col1
A     8        6     5

In [60]:
df12.loc[ [('A',8), ('A',1)] ]

##
##level 개념, index               
##             A    ---> 레벨 0번     col1 ---> 레벨 1번
##

            col2  col3
index col1
A     8        6     5
      1        8     7

In [61]:
# 멀티인덱스의 속성들 확인
mIdx = df12.index
print(f'mIdx {mIdx.nlevels}')
print(f'mIdx {mIdx.levels}')
print(f'names {mIdx.names}')
print()
mIdx.names = [None, None]
print(f'mIdx {mIdx.nlevels}')
print(f'mIdx {mIdx.levels}')
print(f'names {mIdx.names}')

# mIdx.names[0] = 'A' # Error

#set_levels

mIdx.set_names('a', level=0)




# 이름 변경 간접 메서드

mIdx 2
mIdx [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names ['index', 'col1']

mIdx 2
mIdx [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names [None, None]

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['a', None])

In [62]:
# 멀티인덱스에서 level0이 동일한 행 추출
# - 'A' 
df12.loc['A']

   col2  col3
8     6     5
1     8     7
3     1     4

In [63]:
# 멀티인덱스에서 level 1 이 동일한 행 추출
# - 8
# df12.loc[8] # Error 발생
df12.xs(8, level=1)

   col2  col3
A     6     5
C     4     3
C     2     0
C     8     6

In [64]:
# 멀티인덱스에서 행 추가
# - 인덱스에 행 추가 => 변수명.loc[행 인덱스] = 값
df12.loc[('D',9), :] = [9,9]

# ('D',9) --> 레벨0,1 인덱스에 / : -> 칼럼 (열)
# [행,열] = [9,9] 
df12

C:\Users\kjy19\AppData\Local\Temp\ipykernel_20840\4251402142.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9), :] = [9,9]
C:\Users\kjy19\AppData\Local\Temp\ipykernel_20840\4251402142.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9), :] = [9,9]

     col2  col3
A 8   6.0   5.0
C 8   4.0   3.0
  8   2.0   0.0
A 1   8.0   7.0
B 2   0.0   7.0
  4   2.0   4.0
C 8   8.0   6.0
  5   5.0   6.0
B 3   3.0   6.0
A 3   1.0   4.0
D 9   9.0   9.0

In [65]:
pd.Series({'col2':10, 'col3':10})

col2    10
col3    10
dtype: int64

In [66]:
pd.Series({'col2':10, 'col3':10}, index=['D',10])   # 이름이 같지 않게 때문에 .. 이상하게 된다.

D    NaN
10   NaN
dtype: float64

In [67]:
# 위 원인 때문에 1차적으로 저장하고 그 인덱스를 가공
sr1 = pd.Series({'col2':10, 'col3':10})
sr1.index=['D',10]
sr1.T ()

TypeError: 'Series' object is not callable

In [ ]:
# df12.loc[('D',9), :] = pd.Series({'col2':10, 'col3':10}, index = ['D',9] )

C:\Users\kjy19\AppData\Local\Temp\ipykernel_9420\3813476421.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9), :] = pd.Series({'col2':10, 'col3':10}, index = ('D',9))

ValueError: Must have equal len keys and value when setting with an iterable