##### [멀티인덱스]
 - 2개 이상의 행과 열로 구성된 인덱스

In [11]:
import pandas as pd
import df_util as util

In [12]:
file1 = 'test_data.csv'
file2 = 'test_data2.csv'

In [13]:
# [3] CSV ==> DataFrame으로 저장
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [14]:
# [4] 데이터 확인 => 기본정보
util.checkDataFrame(df1, 'df1')
util.checkDataFrame(df2, 'df2')

## df_util에서 관련 함수 생성 후 내용 삭제
# df1.info()
# print(f'[Index] : {df1.index}')
# print(f'[Columns] : {df1.Columns}')

# df2.info()
# print(f'[Index] : {df2.index}')
# print(f'[Columns] : {df2.Columns}')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[Index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[Index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

In [15]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫번째 칼럼을 행 인덱스로 설정 ==> set_index([])
df11 = df1.set_index('index') 
# df11.index  
# 출력 결과 : Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object', name='index')
df11.index.name = None
df11.index
# 출력 결과 : Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')
# name이 사라진다. 아예 값이 없는 None이니까

# 아래 뽑기용 // 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [44]:
## 강사님은 삭제함.
# [5] 행 인덱스 설정 
# [5-1] df1의 첫번째 칼럼을 행 인덱스로 설정 ==> set_index([])
df12 = df2.set_index('index')     # 멀티인덱스 위에서 인덱스 설정 바꼇는데 바뀜.
df12.index.name = None
df12

KeyError: "None of ['index'] are in the columns"

In [17]:
# 멀티인덱스에서 level0이 동일한 행 추출
# - 'A' 
df11.loc['C']

   col1  col2  col3
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [19]:
df12 = df1.set_index(['index', 'col2'])
print(df12.index)

df12.loc[('A',8)]

MultiIndex([('A', 6),
            ('C', 4),
            ('C', 2),
            ('A', 8),
            ('B', 0),
            ('B', 2),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 1)],
           names=['index', 'col2'])

col1    1
col3    7
Name: (A, 8), dtype: int64

In [23]:
df12.loc['A']

      col1  col3
col2
6        8     5
8        1     7
1        3     4

In [24]:
# 멀티인덱스에서 level 1 이 동일한 행 추출
# - 8
# df12.loc[8] # Error 발생
df12.xs(8, level=1)

       col1  col3
index
A         1     7
C         8     6

In [27]:
# 멀티인덱스에서 행 추가
# - 인덱스에 행 추가 => 변수명.loc[행 인덱스] = 값
df12.loc[('D',9), :] = [9,9]

# ('D',9) --> 레벨0,1 인덱스에 / : -> 칼럼 (열)
# [행,열] = [9,9] 
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0

In [ ]:
# pd.Series({'col2':10, 'col3':10})

In [ ]:
# pd.Series({'col2':10, 'col3':10}, index=['D',10])   # 이름이 같지 않게 때문에 .. 이상하게 된다.

In [30]:
# 위 원인 때문에 1차적으로 저장하고 그 인덱스를 가공
sr1 = pd.Series({'col2':10, 'col3':10})
sr1.index=['D',10]
# sr1.T ()
sr1

D     10
10    10
dtype: int64

In [ ]:
# df12.loc[('D',9), :] = pd.Series({'col2':10, 'col3':10}, index = ['D',9] )

In [32]:
df12.loc[('AA',102), :]=sr1

In [33]:
sr1

D     10
10    10
dtype: int64

In [36]:
sr1 = pd.Series({'col1':10, 'col2':99})
sr1

col1    10
col2    99
dtype: int64

In [37]:
# 키 중복되는 값이 [6,5] 
# A.8 햇을 때 [6,5]
# C,8 했을 때는 4,3 2,0 8,6 하면 3개의 리스트가 되어서 리스트 속 리스트 형식이 되어버린다.
# 그래서 형식을 맞추고자 형식을 맞춰야? 하는.

In [38]:
df12.loc[('AA',103),:]  = sr1

In [39]:
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0
AA    102    NaN   NaN
      103   10.0   NaN