In [70]:
import pandas as pd
import numpy as np

In [71]:
covidDF = pd.read_excel('질병관리청_코로나19 확진자 발생현황(전수감시).xlsx', sheet_name='시도별 발생(17개시도+검역)')

In [72]:
covidSumDF = covidDF.iloc[0]
covidSumDF

Unnamed: 0     NaN
Unnamed: 1     NaN
Unnamed: 2     NaN
Unnamed: 3     NaN
Unnamed: 4     NaN
Unnamed: 5     NaN
Unnamed: 6     NaN
Unnamed: 7     NaN
Unnamed: 8     NaN
Unnamed: 9     NaN
Unnamed: 10    NaN
Unnamed: 11    NaN
Unnamed: 12    NaN
Unnamed: 13    NaN
Unnamed: 14    NaN
Unnamed: 15    NaN
Unnamed: 16    NaN
Unnamed: 17    NaN
Unnamed: 18    NaN
Unnamed: 19    NaN
Name: 0, dtype: object

In [73]:

covidDF.columns=['일자','계(명)','서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주','검역']
covidDF.drop([0,1,2,3,4],inplace=True)
covidDF

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
5,2020-01-20 00:00:00,1,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-
6,2020-01-21 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
7,2020-01-22 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8,2020-01-23 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
9,2020-01-24 00:00:00,1,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,2023-08-27 00:00:00,32967,6012,1543,1903,1913,1073,1046,643,279,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1321,2023-08-28 00:00:00,13149,1905,522,465,1067,443,410,223,120,3802,537,677,569,410,497,778,534,190,0
1322,2023-08-29 00:00:00,42998,8485,2109,2215,2792,1109,1453,855,386,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1323,2023-08-30 00:00:00,42586,7470,1778,2219,2726,1436,1248,864,316,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1324,2023-08-31 00:00:00,50464,8683,2179,2465,3234,1617,1427,1064,420,13652,1726,2137,2343,1981,1611,2686,2668,570,1

In [74]:
#can only concatenate str (not "int") to str

covidDF.isna()
covidDF.replace('-',0,inplace=True)
covidDF

C:\Users\kjy19\AppData\Local\Temp\ipykernel_5940\590448274.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covidDF.replace('-',0,inplace=True)

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
5,2020-01-20,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2020-01-21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2020-01-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2020-01-23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2020-01-24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,2023-08-27,32967,6012,1543,1903,1913,1073,1046,643,279,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1321,2023-08-28,13149,1905,522,465,1067,443,410,223,120,3802,537,677,569,410,497,778,534,190,0
1322,2023-08-29,42998,8485,2109,2215,2792,1109,1453,855,386,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1323,2023-08-30,42586,7470,1778,2219,2726,1436,1248,864,316,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1324,2023-08-31,50464,8683,2179,2465,3234,1617,1427,1064,420,13652,1726,2137,2343,1981,1611,2686,2668,570,1

In [75]:
covidDF['일자'] = pd.to_datetime(covidDF['일자'])

covidDF.set_index('일자', inplace=True)
covidDF.resample('M').sum()
# covidDF

C:\Users\kjy19\AppData\Local\Temp\ipykernel_5940\3541406296.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  covidDF.resample('M').sum()

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
일자,,,,,,,,,,,,,,,,,,,
2020-01-31,11,7,0,0,1,0,0,0,0,2,0,0,0,1,0,0,0,0,0
2020-02-29,2920,67,75,2055,5,9,13,17,1,74,7,10,48,4,2,472,59,2,0
2020-03-31,6855,376,44,4629,58,11,23,22,45,400,29,34,80,8,7,828,37,7,217
2020-04-30,979,183,18,168,29,10,4,4,0,200,17,1,15,5,6,65,21,4,229
2020-05-31,703,228,10,31,113,2,6,9,1,164,4,15,3,3,4,14,6,2,88
2020-06-30,1331,451,7,23,135,12,71,3,3,367,8,4,21,6,5,10,11,4,190
2020-07-31,1506,288,17,34,42,160,49,4,0,339,9,9,23,12,14,12,25,7,462
2020-08-31,5641,2268,130,107,333,170,90,30,17,1714,115,55,142,48,104,54,77,19,168
2020-09-30,3865,1425,120,85,200,121,104,58,9,1123,35,43,152,41,27,96,55,14,157
2020-10-31,2700,718,171,42,129,16,82,16,6,1020,55,18,57,38,16,36,25,0,255
2020-11-30,7688,2800,217,58,364,185,52,35,18,1874,373,138,358,168,239,117,309,21,362
2020-12-31,26523,10181,1058,569,1430,385,351,474,49,7173,555,836,754,503,136,720,700,336,313
2021-01-31,17470,5159,889,507,974,702,252,264,47,5353,488,411,363,202,189,593,686,106,285
2021-02-28,11466,4079,466,315,618,301,93,76,30,3747,169,182,428,152,110,236,172,48,244
2021-03-31,13414,3794,583,304,627,125,96,141,44,5029,466,434,187,260,54,250,777,55,188
2021-04-30,18926,5807,1244,424,607,200,444,725,87,5616,354,438,402,485,140,606,955,82,310
2021-05-31,18329,6077,619,565,533,396,348,699,123,4884,501,315,505,289,410,582,784,323,376
2021-06-30,16623,6072,553,682,569,132,573,246,80,4978,374,363,266,139,185,257,548,234,372
2021-07-31,41372,14363,1985,1071,2293,462,1538,382,176,11720,934,544,1142,403,387,507,1956,468,1041
2021-08-31,53073,14999,3180,1977,2767,654,1458,969,257,15297,967,1302,1990,821,565,1644,2777,870,579
2021-09-30,59850,21126,1335,1853,3974,936,1338,990,246,19045,977,1192,2196,927,484,1223,1480,273,255
2021-10-31,53407,19095,1190,1643,3571,382,547,256,126,18331,762,1556,1467,672,459,1386,1548,225,191
2021-11-30,82499,34661,2343,1816,5245,914,1023,219,195,25011,1440,945,2329,1145,876,1559,2007,604,167
2021-12-31,183514,70877,8820,4166,12102,1741,3695,1233,582,52871,3766,2653,5166,3236,1659,4047,5661,934,305
2022-01-31,214677,51989,9357,9937,14927,6982,4475,2163,844,72700,3575,3783,6870,5370,4950,6458,7617,784,1896
2022-02-28,2287827,498494,158075,98483,170139,63225,61745,40568,14739,681217,44901,53197,77857,61945,49134,76391,112330,24263,1124
2022-03-31,9959368,1982679,697919,392298,594659,281730,265191,217277,75737,2696470,273256,302454,375411,317844,311431,395947,643621,134557,887
2022-04-30,4142095,722213,160875,185253,215795,142872,137002,87887,37197,1082456,146314,150812,195221,166685,184880,220034,248148,58112,339
2022-05-31,865914,135163,40830,48894,39623,28694,29340,22767,7722,204343,34054,31545,39307,36426,37349,61152,55990,12560,155
2022-06-30,255580,49091,14133,14679,11276,6105,7005,8102,2220,61864,10701,7802,10027,7934,8287,16748,15316,4145,145
2022-07-31,1415963,311555,81794,49661,75977,33620,39916,38341,10985,388122,41384,42555,55686,43935,34859,60698,75462,30800,613
2022-08-31,3469887,583045,210566,174460,178134,115973,113435,82155,28963,870183,111505,118119,152904,134889,136795,185147,221631,51117,866
2022-09-30,1522721,269968,73921,82604,90100,43521,47603,26348,13503,409687,48205,53556,66590,55505,49724,83722,94535,12741,888
2022-10-31,788421,159698,37254,37098,48311,18211,23115,15036,6612,227133,28704,25425,29914,23181,19744,43326,39301,5428,930
2022-11-30,1541318,306495,80888,68600,92174,40845,50067,28356,13066,440644,52116,50996,64109,47877,40271,76720,77487,9611,996
2022-12-31,1960578,366105,125922,83723,118526,59248,57429,42309,16466,545905,52714,60580,81762,61656,64013,85048,120859,17198,1115
2023-01-31,1117360,201307,77115,47663,68382,29495,32025,27921,8923,296519,28995,33411,47595,37528,38708,52198,74991,13980,604
2023-02-28,337297,59929,23775,18038,17408,10253,8558,8381,2491,81287,8686,10898,13283,12599,12272,19282,24247,5677,233
2023-03-31,307002,64597,13007,12340,16949,8596,10001,4124,3186,86394,7628,10448,12159,12490,9133,15374,14505,5860,211
2023-04-30,353063,89266,10690,10688,23431,11159,10615,3077,3299,103728,9056,10686,14519,12121,12222,11680,12499,4091,236
2023-05-31,533347,127315,27172,18509,31187,15003,15839,8346,3931,148936,14456,16093,20107,16516,17486,18185,26036,7731,499
2023-06-30,508776,109613,43735,23624,26736,16142,13030,12335,3716,123445,12002,12399,16544,14349,15041,21161,33173,11471,260
2023-07-31,989627,184166,92765,49769,43600,33694,29999,27491,6380,218452,25734,26383,33818,31739,40179,49690,74589,21084,95
2023-08-31,1371068,253546,87775,66976,77839,45105,44635,28272,11291,340980,39445,42834,59021,57791,49927,66932,82978,15675,46

In [76]:
covidDF.T

일자,2020-01-20,2020-01-21,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2023-08-22,2023-08-23,2023-08-24,2023-08-25,2023-08-26,2023-08-27,2023-08-28,2023-08-29,2023-08-30,2023-08-31
계(명),1,0,0,0,1,0,1,1,0,0,...,47384,48161,40815,37504,36886,32967,13149,42998,42586,50464
서울,0,0,0,0,1,0,0,0,0,0,...,9672,8823,7179,6872,6730,6012,1905,8485,7470,8683
부산,0,0,0,0,0,0,0,0,0,0,...,2717,2441,1942,1946,1738,1543,522,2109,1778,2179
대구,0,0,0,0,0,0,0,0,0,0,...,1604,2251,2508,1534,2053,1903,465,2215,2219,2465
인천,1,0,0,0,0,0,0,0,0,0,...,3093,2945,2506,2469,2470,1913,1067,2792,2726,3234
광주,0,0,0,0,0,0,0,0,0,0,...,1269,1577,1299,1189,1157,1073,443,1109,1436,1617
대전,0,0,0,0,0,0,0,0,0,0,...,1524,1570,1250,1203,1055,1046,410,1453,1248,1427
울산,0,0,0,0,0,0,0,0,0,0,...,957,995,893,761,737,643,223,855,864,1064
세종,0,0,0,0,0,0,0,0,0,0,...,459,441,369,333,310,279,120,386,316,420
경기,0,0,0,0,0,0,1,1,0,0,...,13485,11946,10400,9787,9901,8592,3802,11954,11135,13652
강원,0,0,0,0,0,0,0,0,0,0,...,1283,1694,1383,1273,1265,1017,537,1199,1524,1726
충북,0,0,0,0,0,0,0,0,0,0,...,1092,1890,1423,1221,1274,1056,677,1227,1705,2137
충남,0,0,0,0,0,0,0,0,0,0,...,2012,2084,1828,1582,1661,1580,569,1881,2006,2343
전북,0,0,0,0,0,0,0,0,0,0,...,1948,2153,1698,1586,1408,1426,410,1607,1667,1981
전남,0,0,0,0,0,0,0,0,0,0,...,1525,1680,1385,1276,1227,1055,497,1387,1402,1611
경북,0,0,0,0,0,0,0,0,0,0,...,1829,2649,2236,1911,1606,1534,778,1798,2468,2686
경남,0,0,0,0,0,0,0,0,0,0,...,2685,2542,2121,2192,1933,1923,534,2310,2218,2668
제주,0,0,0,0,0,0,0,0,0,0,...,226,480,393,367,358,371,190,231,403,570
검역,0,0,0,0,0,0,0,0,0,0,...,4,0,2,2,3,1,0,0,1,1