In [11]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
import pandas as pd
import csv


file_name = 'Climate.xlsx'
Climate = pd.read_excel(file_name)

In [12]:
# Climate =

In [13]:
Climate['dt'].dt.year

0        1980
1        1980
2        1980
3        1980
4        1980
         ...
90391    2010
90392    2010
90393    2010
90394    2010
90395    2010
Name: dt, Length: 90396, dtype: int32

In [14]:
# temp = Climate[Climate['dt'].dt.year==1980]
# temp = temp[temp['Country']=='Zimbabwe']

idx = 1
ClimateDF = pd.DataFrame(columns=['dt', 'AverageTemperature', 'Country'])
Country = list(set(Climate['Country'].values))
Country = sorted(Country)

for Con in Country:
    temp = Climate[Climate['Country']==Con]
    # print(temp)
    # for y in range(1980,2011,1):
    #     print(temp['dt'].dt.year == y)
        # print(temp['dt'].dt.year)
        # temp = temp[temp['dt'].dt.year == y]
        # print(temp[temp['dt'].dt.year == y])
        # print(temp)
        # print(temp.info())
        # avg_temp = round(temp['AverageTemperature'].mean(), 2)
        # print(avg_temp)
        # ClimateDF.loc[f'{idx}'] = [year, avg_temp, Con]
    year = 1980
    while year <= 2010:
        # print(year, type(year))
        # print(temp[temp['dt'].dt.year == year])
        new_temp = temp[temp['dt'].dt.year == year]
        # print(new_temp)
        # temp = temp[temp['dt'].dt.year == year]
        # print(temp)
        avg_temp = round(new_temp['AverageTemperature'].mean(), 2)
        ClimateDF.loc[f'{idx}'] = [year, avg_temp, Con]
        year += 1
        idx += 1
ClimateDF

        dt  AverageTemperature      Country
1     1980               14.89  Afghanistan
2     1981               14.86  Afghanistan
3     1982               13.73  Afghanistan
4     1983               14.61  Afghanistan
5     1984               14.25  Afghanistan
...    ...                 ...          ...
7529  2006                7.10        횇land
7530  2007                7.03        횇land
7531  2008                7.49        횇land
7532  2009                6.49        횇land
7533  2010                4.86        횇land

[7533 rows x 3 columns]

In [15]:
GoodBye_land = ClimateDF[ClimateDF['Country']=='횇land']
# GoodBye_land    # 7503:7533
ClimateDF.drop(ClimateDF.index[7502:], inplace=True)
ClimateDF
# re
# ClimateDF

        dt  AverageTemperature      Country
1     1980               14.89  Afghanistan
2     1981               14.86  Afghanistan
3     1982               13.73  Afghanistan
4     1983               14.61  Afghanistan
5     1984               14.25  Afghanistan
...    ...                 ...          ...
7498  2006               21.62     Zimbabwe
7499  2007               21.60     Zimbabwe
7500  2008               21.55     Zimbabwe
7501  2009               21.38     Zimbabwe
7502  2010               21.99     Zimbabwe

[7502 rows x 3 columns]

In [16]:
India = ClimateDF[ClimateDF['Country']=='India']

India.to_excel('india.xlsx')

In [17]:
len(set(ClimateDF['Country'].values))

242

In [18]:
list(ClimateDF[ClimateDF['Country']=='Zimbabwe']['AverageTemperature'])

[21.13,
 20.8,
 21.57,
 22.37,
 21.71,
 21.2,
 21.2,
 22.32,
 21.48,
 21.43,
 22.13,
 21.79,
 22.84,
 21.85,
 21.61,
 22.5,
 21.55,
 21.57,
 22.14,
 21.49,
 21.15,
 21.69,
 22.08,
 21.89,
 21.33,
 22.51,
 21.62,
 21.6,
 21.55,
 21.38,
 21.99]

In [19]:
# ClimateDF[ClimateDF['dt']==1980].count()['dt']

float(ClimateDF.iloc[0]['AverageTemperature'])

14.89

In [20]:
# 혹시 1980~2010 빈 값있나 확인
for i in range(1980,2011):
    a = ClimateDF[ClimateDF['dt']==i].count()
    a = a['dt']
    if a < 242 or a > 242:
        print(i)

In [21]:
year_list = [i for i in range(1980, 2011)]
Climate_year_DF = pd.DataFrame(columns=[year_list])
Climate_year_DF
# year_list

Empty DataFrame
Columns: [(1980,), (1981,), (1982,), (1983,), (1984,), (1985,), (1986,), (1987,), (1988,), (1989,), (1990,), (1991,), (1992,), (1993,), (1994,), (1995,), (1996,), (1997,), (1998,), (1999,), (2000,), (2001,), (2002,), (2003,), (2004,), (2005,), (2006,), (2007,), (2008,), (2009,), (2010,)]
Index: []

[0 rows x 31 columns]

In [22]:
# for i in range(7502)
#     year = ClimateDF['Country'][i]
for con in Country:
    for y in range(242): # 년도
        Climate_year_DF.loc[f'{con}'] = list(ClimateDF[ClimateDF['Country']==con]['AverageTemperature'])
        
        # Climate['AverageTemperature']
        # float(ClimateDF.iloc[y]['AverageTemperature'])
Climate_year_DF   # 나라 : 1980~2010 식으로 더하기.

ValueError: cannot set a row with mismatched columns

In [ ]:
# year_list = [i for i in range(1980, 2011)]
# Climate_year_DF = pd.DataFrame(index='Country', columns=[year_list])

# for y in range(31): # 년도
#     for idx in range(242):  # 나라 갯수
#         Climate['AverageTemperature']
#         float(ClimateDF.iloc[0]['AverageTemperature'])
# Climate_year_DF.loc[]   # 나라 : 1980~2010 식으로 더하기.