### [D0828 과제]
 - 데이터셋 : auto-mpg.csv
 - 목적: 연비 예측
 - 학습방법 : 지도학습 > 회귀
 - 알고리즘 : LinearRegression

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [11]:
testDF = pd.read_csv('test_car_price_data.csv', usecols=[1,2,3,4,5,6,7,8,9,10,11,12])
trainDF = pd.read_csv('train_car_price_data.csv',usecols=[1,2,3,4,5,6,7,8,9,10,11,12])

In [12]:
testDF.head(3)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh

In [13]:
trainDF.head(3)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh

In [21]:
a = trainDF['Mileage'].str.split()
a.str[0]
# pd.DataFrame(a[0]. a[1])

0        26.6
1       19.67
2        18.2
3       20.77
4        15.2
        ...
6014     28.4
6015     24.4
6016     14.0
6017     18.9
6018    25.44
Name: Mileage, Length: 6019, dtype: object